.con{
    height: 100vh;
}

.profImg{
    width: 111x;
    height: 111px;
    border-radius: 50%;
}

.profilebox{
    width: 60vw;
    height: 65vh;
    border: solid 1px grey;
}

.inputForm{
    width: 20vw;
    padding: .5rem;
    border-radius: .25rem;
}

.inputForm1{
    width: 2rem;
    padding: .5rem;
    border-radius: .25rem;
}

.lowerButtons{
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: .25rem;
    border: solid 1px #D4D4D4;
}

.redButton{
    width: 5vw;
    color: white;
}

.lowerButtons1{
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: .25rem;
    border: solid 1px rgb(194, 190, 190);
}

.redButton1{
    width: 8rem;
    color:  rgb(194, 190, 190);
}

.wrapper{
    align-items: center;
}