.src {
    border-radius: 23px;
    border: 1px solid #8E8E93;
}

.headerbody {
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.right.d-flex.w-25.justify-content-end.pe-3 {
    margin-right: 3rem;
}